<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<title>梦想驱动器</title>

	<link href="./assets/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="./assets/style.css" rel="stylesheet">
	<link href="./assets/messenger/css/messenger.css" rel="stylesheet">
	<!-- <link href="./assets/messenger/css/messenger-theme-block.css" rel="stylesheet"> -->
	

	<script type="text/javascript" src="./assets/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="./assets/messenger/js/messenger.js"></script>
	<script type="text/javascript" src="./assets/bootstrap/js/bootstrap.min.js"></script>


	<script>
		$._messengerDefaults = {
			extraClasses: 'messenger-fixed messenger-theme-block messenger-on-top'
		}
		function successInfo(msg, action){
			if(!arguments[1]) action = function() {window.location.reload();}	
			$.globalMessenger().post({
				message: msg, 
				type:"success", 
				showCloseButton: true,
				actions: {
					enter: {
						label: "刷新",
						phrase: '',
						auto: true,
						delay: 1,
						action: action					
					}
				}
			});
		}
	</script>



	</head>
	<body>
		<div class="container">
			<div class="row header">
				<div class="span2">
					<a href="./"><h3 class="header-text">任务驱动器</h3></a>
				</div>
				<div class="span4">
					<?php
						$hour = (int)date('H');
						$dohArray = array('0' => '呼呼大睡', '1' => '呼呼大睡', '2' => '呼呼大睡', '3' => '呼呼大睡', '4' => '呼呼大睡', '5' => '呼呼大睡', '6' => '呼呼大睡', '7' => '刷牙洗脸', '8' => '犯困', '9' => '忙', '10' => '忙', '11' => '吃午饭', '12' => '睡午觉', '13' => '忙', '14' => '喝下午茶', '15' => '喝下午茶', '16' => '喝下午茶', '17' => '回家路上', '18' => '吃晚饭', '19' => '看新闻联播', '20' => '看书', '21' => '看书', '22' => '呼呼大睡', '23' => '呼呼大睡', '24' => '呼呼大睡');
					?>
					<h4 class="header-to">献给正在<?php echo $dohArray[$hour ]; ?>的小破破</h4>
				</div>
				<div class="span6 header-do">
					<?php if(isset($login)){ ?>
						<a href="./exit" class="btn pull-right">退出</a>
						<a href="./setting" class="btn pull-right">设置</a>
						<a href="./job-add" class="btn pull-right btn-danger">添加任务</a>
					<?php }else{ ?>
						<a href="./login" class="btn pull-right">登录</a>
					<?php } ?>
				</div>
			</div>